---
// import layout
import BaseLayout from "../../layouts/BaseLayout.astro";

const works = await Astro.glob("./*.md");
---

<BaseLayout pageTitle="Artwork">
   <h1>My artwork</h1>

   <ul>
      {
         works.map((work) => {
            <li>
               <a href={work.url}>{work.frontmatter.title}</a>
            </li>
         })
      }
   </ul>
</BaseLayout>
