---
// Astro
import { getCollection } from "astro:content";

// import layout
import BaseLayout from "../../layouts/BaseLayout.astro";

const artwork = await getCollection('artwork');
---

<BaseLayout pageTitle="Artwork">
   <h1>My artwork</h1>

   <ul>
      {
         artwork.map((entry) => {
            <li>
               <a href={`${entry.collection}/${entry.slug}`}>{entry.data.title}</a>
            </li>
         })
      }
   </ul>
</BaseLayout>
