---
// Astro
import { getCollection, getEntry } from "astro:content";

// import layout
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ArtworkGridLayout from "../../layouts/ArtworkGridLayout.astro";

// import components
import SectionHero from "../../components/SectionHero.astro";
import ArtTypes from "../../components/ArtTypes.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import FullArtwork from "../../components/FullArtwork.astro";

// import hero background
const artworkHero = await getEntry("settings", "artwork-hero");

// import all non-draft artwork
const allArtwork = await getCollection('artwork', ({data}) => {
   // prevent draft posts from showing in feature
   return data.draft !== true;
});
// sort latest to oldest by default
const artwork = allArtwork.sort((a, b) => {
   const latestToOldest = Date.parse(b.data.date) - Date.parse(a.data.date);

   return latestToOldest;
})
---

<BaseLayout pageTitle="Artwork">
   <SectionHero title="Artwork" image={artworkHero.data.image} image_alt={artworkHero.data.image_alt} />
   <MainLayout>
      <section class="py-10 m-auto max-w-screen-2xl">
         <ArtTypes />
         <SectionTitle title="My Artwork" />
         <ArtworkGridLayout artwork={artwork} />
      </section>
   </MainLayout>
</BaseLayout>
