@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   @font-face {
      font-family: 'James Arthur Regular';
      font-display: block;
      src: url('/fonts/James-Arthur-Regular/james-arthur-regular.woff2') format('woff2'),
      url('/fonts/James-Arthur-Regular/james-arthur-regular.woff') format('woff');
      font-weight: normal;
   }

   :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}

   html {
		/* font-family: Georgia, "New York", Georgia, Cochin, 'Times New Roman', Times, ui-serif, serif, system-ui, sans-serif; */
      font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
		background: #ffffff;
		background-size: 224px;
      scroll-behavior: "auto";
	}

   @supports (font-variation-settings: normal) {
      html { 
         font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif; 
      }
   }

   code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

   /* CLASSES */

   .logo-text {
      font-family: 'James Arthur Regular', Georgia, "New York", Georgia, Cochin, 'Times New Roman', Times, ui-serif, serif, system-ui, sans-serif;
      text-decoration: none;
   }

   .fade-y-edges {
      padding-bottom: 22%;
      /* -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
   }

   .fade-y-edges-none {
      padding-bottom: 0;
      /* -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
      mask-image: none;
   }

}