@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Seascape';
      font-display: block;
      src: url('/fonts/Seascape/seascape.woff2') format('woff2'),
      url('/fonts/Seascape/seascape.woff') format('woff');
      font-weight: normal;
      /* font-style: normal; */
   }

   @font-face {
      font-family: 'James Arthur Regular';
      font-display: block;
      src: url('/fonts/James-Arthur-Regular/james-arthur-regular.woff2') format('woff2'),
      url('/fonts/James-Arthur-Regular/james-arthur-regular.woff') format('woff');
      font-weight: normal;
      /* font-style: normal; */
   }

   @font-face {
      font-family: 'Southampton';
      font-display: block;
      src: url('/fonts/Southampton/southampton.woff2') format('woff2'),
      url('/fonts/Southampton/southampton.woff') format('woff');
      font-weight: normal;
      /* font-style: normal; */
   }

   :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}

   html {
		/* font-family: Georgia, "New York", Georgia, Cochin, 'Times New Roman', Times, ui-serif, serif, system-ui, sans-serif; */
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
		background: #ffffff;
		background-size: 224px;
	}

   code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

   /* CLASSES */

   .logo-text {
      font-family: 'James Arthur Regular', Georgia, "New York", Georgia, Cochin, 'Times New Roman', Times, ui-serif, serif, system-ui, sans-serif;
      text-decoration: none;
   }
}