---
// import layout
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Oops! No artwork to be seen here">
   <section class="prose dark:prose-invert">
      <h1>Oops! That page doesn't exist!</h1>
   </section>
</BaseLayout>