---
// import layout
import BaseLayout from "../layouts/BaseLayout.astro";
import Flex2ColLayout from "../components/layouts/Flex2ColLayout.jsx";

// import components
import SectionTitle from "../components/SectionTitle.jsx";
import Link from "../components/Link.jsx";
import MarkdownContent from "../components/MarkdownContent.jsx";
---

<BaseLayout 
   pageTitle="404"
   ogTitle="This page does not exist on Wendy's website."
   ogDescription="Welcome to a page that does not exist!"
>
   <section class="">
      <SectionTitle title="404" />
      <Flex2ColLayout>
         <MarkdownContent heading="Oops! That page doesn't exist!">
               <Link 
                  inline 
                  href="/"
                  classes="decoration-transparent underline underline-offset-4 hover:decoration-primary-text"
               >
                  Go back home
               </Link>
         </MarkdownContent>
      </Flex2ColLayout>
   </section>
</BaseLayout>