---
// Astro
import { getImage, Image } from "astro:assets";

// import bio markdown
import { getEntry } from "astro:content";
const bio = await getEntry("bio", "bio");
const { Content } = await bio.render();

const imageArr = await Promise.all(
   bio.data.images.map(async ({image, image_alt}) => {
      const img = await getImage({
         src: image,
         alt: image_alt
      })
      
      return img;
   })
)

// import layouts
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Flex2ColLayout from "../layouts/Flex2ColLayout.astro";

// import components
import SectionHero from "../components/SectionHero.astro";
import InlineLightboxWrapper from "../components/InlineLightboxWrapper.astro";
---

<BaseLayout 
   pageTitle="Bio"
   options={{
      headerShadow: false
   }}
   blurredBg={imageArr[0].src}
>
   <article>
      <SectionHero title="Bio" />
      <Flex2ColLayout>
         <div class="px-4 flex-1 prose prose-zinc dark:prose-p:text-zinc-100 justify-center dark:prose-invert md:prose-lg">
            {bio.data.heading && 
               <h2>{bio.data.heading}</h2>
            }
            <Content />
         </div>
         <InlineLightboxWrapper imageArr={imageArr} classes="flex-1 m-auto md:px-4 w-screen md:w-auto" />
      </Flex2ColLayout>
   </article>
   
</BaseLayout>