---
// import bio markdown
import { getEntry } from "astro:content";
const bio = await getEntry("bio", "bio");
const { Content } = await bio.render();

// import layouts
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";

// import components
import SectionHero from "../components/SectionHero.astro";
---

<BaseLayout pageTitle="Bio">
   <SectionHero title="Bio" />
   <MainLayout>
      <article class="prose dark:prose-invert">
         <h1>{bio.data.heading}</h1>
         <Content />
      </article>
   </MainLayout>
</BaseLayout>