---
// Astro
import { getImage } from "astro:assets";

// import bio markdown
import { getEntry } from "astro:content";
const bio = await getEntry("bio", "bio");
const { heading, images } = bio.data;
const { Content } = await bio.render();

// get all optimized images
const optimizedImages = images && await Promise.all(
   images?.map(async ({image}) => await getImage({src: image, widths: [120, 240, 320, 540, 640, 700, 1024, image.width] }))
)

// import layouts
import BaseLayout from "../layouts/BaseLayout.astro";
import Flex2ColLayout from "../components/layouts/Flex2ColLayout.jsx";
// import Flex2ColLayout from "../layouts/Flex2ColLayout.astro";


// import components
import SectionTitle from "../components/SectionTitle.jsx";
import BioContent from "../components/BioContent.jsx";
import InlineLightboxGallery from "../components/InlineLightboxGallery.jsx";
---

<BaseLayout 
   pageTitle="Bio"
   blurredBg={images[0].image}
>
   <article>
      <SectionTitle title="Bio" />
      <div transition:animate="fade">
         <Flex2ColLayout>
            <BioContent heading={heading}>
               <Content />
            </BioContent>
            <InlineLightboxGallery
               ariaLabel="Some of my photos"
               client:visible 
               data={{
                  images: optimizedImages || [],
                  imagesWithAlts: images || []
               }} 
               classes="flex-1 m-auto md:px-4 w-screen md:w-full md:max-w-[60rem]" 
            />
         </Flex2ColLayout>
      </div>
   </article>
   
</BaseLayout>