---
import { getEntry } from "astro:content";

// import layouts
import BaseLayout from "../layouts/BaseLayout.astro";
import Flex2ColLayout from "../components/layouts/Flex2ColLayout.jsx";

// import components
import SectionTitle from "../components/SectionTitle.jsx";
import ContactForm from "../components/ContactForm.jsx";
import ImageWrapper from "../components/ImageWrapper.astro";

// import featured artwork
const featuredArtwork = await getEntry('settings', 'main-hero');
---

<BaseLayout 
   pageTitle="Contact"
>  
   <div class="max-w-xl md:max-w-none">
      <SectionTitle title="Contact Me"/>
      <div transition:animate="fade">
         <Flex2ColLayout>
            <div class="flex-auto w-full xl:w-1/3">
               <ContactForm />
            </div>
            <div class="p-4 m-auto xl:w-2/3 md:m-0 xl:m-auto">
               <ImageWrapper 
                  src={featuredArtwork.data.image} 
                  alt={featuredArtwork.data.image_alt} 
                  width={768}
                  quality={50}
                  loading="eager"
                  classes="md:max-w-md xl:mr-auto"
               />
            </div>
         </Flex2ColLayout>
      </div>
   </div>
</BaseLayout>