---
// import layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// import components
import SectionHero from "../components/SectionHero.astro";
import ContactForm from "../components/ContactForm.jsx";
---

<BaseLayout 
   pageTitle="Contact"
>
   <div class="m-auto max-w-xs sm:max-w-none">
      <SectionHero title="Contact Me"/>
      <ContactForm />
   </div>
</BaseLayout>