---
---
<button aria-label="Main menu button" data-target="main-menu" class="burger flex items-center relative cursor-pointer rounded-b-lg rounded-t-sm transition-all hover:bg-gray-100 hover:shadow-lg dark:hover:bg-slate-700 dark:hover:shadow-black md:hidden">
   <span class="patties w-12 h-10"></span>
</button>

<script>
   // Navbar
   const burgerMenus = document.querySelectorAll(".burger");

   function handleClick(el) {
      const button = el.currentTarget;

      // make menu active
      const target = button.dataset.target;
      const targetEl = document.getElementById(target);

      targetEl.classList.toggle("hidden");

      // conditional to apply active styles or not based on menu state
      const styles = ["bg-gray-100", "dark:bg-gray-700"];

      if (!targetEl.classList.contains("hidden")) {
         button.classList.add(...styles);
      } else {
         button.classList.remove(...styles);
      }
   }

   burgerMenus.forEach((menu) => {
      menu.addEventListener("click", handleClick)
   })
</script>

<style>
   .patties::before {
      @apply top-4 left-2
   }
   
   .patties::after {
      @apply bottom-4 right-2
   }

   .patties::before,
   .patties::after {
      content: "";
      @apply absolute h-[2px] w-8 bg-gray-900 dark:bg-gray-100 hover:dark:bg-white rounded-full
   }

   /* COMPATIBILITY WITH THIS CSS MODULE */
   /* BECAUSE IT BREAKS TAILWIND METHODOLOGIES */
   /* WHEN USING <html class="dark"><html/> */
   :global(.dark) .patties::before,
   :global(.dark) .patties::after {
      @apply bg-gray-100 hover:bg-white
   }
</style>