---
---

<button aria-label="Main menu button" data-target="main-menu" class="burger z-50 flex items-center h-fit relative cursor-pointer rounded-b-lg rounded-t-sm transition-all hover:bg-primary-button-hover hover:shadow-md dark:hover:bg-primary-dark-button-hover dark:hover:shadow-black/70 md:hidden">
   <span class="patties w-12 h-10"></span>
</button>

<script>
   document.addEventListener('astro:page-load', () => {
   // This necessary script runs after very page load

      // Navbar burger elements
      const burgerMenus = document.querySelectorAll(".burger");

      function handleClick(el) {
         const button = el.currentTarget;

         // make menu active
         const target = button.dataset.target;
         const targetEl = document.getElementById(target);

         // conditional to apply active styles or not based on menu state
         const buttonStyles = ["bg-gray-200", "dark:bg-zinc-700"];

         if (!targetEl.classList.contains("active")) {
            targetEl.classList.remove("hidden");
            
            // wait 1ms to add animation because you cannot animate a 'display: none' element
            setTimeout(() => {
               button.classList.add(...buttonStyles); // add active button styles

               targetEl.classList.add("active");
               targetEl.closest(".navbar-container").classList.add("active");
               targetEl.closest(".navbar-header").classList.add("before:backdrop-blur-lg"); // add blur to header
            }, 1);
            
         } else {
            button.classList.remove(...buttonStyles); // remove active button styles

            targetEl.classList.remove("active");
            targetEl.closest(".navbar-container").classList.remove("active");
            targetEl.closest(".navbar-header").classList.remove("before:backdrop-blur-lg"); // remove blur from header

            setTimeout(() => {
               targetEl.classList.add("hidden");
            }, 300)
            
         }
      }

      function handleBlur(el) {
         const button = el.currentTarget;

         const target = button.dataset.target;
         const targetEl = document.getElementById(target);

         console.log(targetEl.closest(".navbar-container"))
      }

      burgerMenus.forEach((menu) => {
         menu.addEventListener("click", handleClick)

         menu.addEventListener("blur", handleBlur)
      })
   });
</script>

<style>
   .patties::before {
      @apply top-4 left-2
   }
   
   .patties::after {
      @apply bottom-4 right-2 
   }

   .patties::after:hover {
      @apply w-6
   }

   .patties::before,
   .patties::after {
      content: "";
      @apply absolute h-[2px] transition-all w-8 bg-gray-900 dark:bg-gray-100 hover:dark:bg-white rounded-full
   }

   /* COMPATIBILITY WITH THIS CSS MODULE */
   /* BECAUSE IT BREAKS TAILWIND METHODOLOGIES */
   /* WHEN USING <html class="dark"><html/> */
   :global(.dark) .patties::before,
   :global(.dark) .patties::after {
      @apply bg-gray-100 hover:bg-white
   }
</style>