---
const { item } = Astro.props
---

<li>
   <a class="block w-full px-4 transition-[inherit] hover:bg-slate-300/50 hover:text-slate-600 dark:hover:text-slate-100 dark:hover:bg-slate-700/50" href={item.href}>{item.title}</a>
</li>