---
// Expose site configuration for CMS
import { frontmatter } from "../configuration/SitewideConfig.md";
const featuredTitle = frontmatter.homepage_featured_section_title;

// import components
import SectionTitle from "./SectionTitle.astro";

// import utils
import { truncateTextToPeriod } from "../utils/textTools.js";

// import Featured Artwork
const allArtwork = await Astro.glob("../pages/artwork/*.md");
const featuredArtwork = allArtwork.filter((artwork) => artwork.frontmatter.featured === true);
---

<SectionTitle title={featuredTitle} />
<div class="prose dark:prose-invert dark:prose-p:text-gray-100">
   {
      featuredArtwork.map(({frontmatter}) => {
         return (
            <article>
               <h1 class="sm:text-5xl md:text-6xl">{frontmatter.title}</h1>
               <p>INSERT PICTURE HERE</p>
               <p>{truncateTextToPeriod(frontmatter.description)}</p>
            </article>
         )
      })
   }
</div>