---
import Logo from "./Logo.astro";
---

<footer class="bg-slate-200 dark:bg-slate-700">
   <div class="prose prose-sm px-5 pt-20 pb-12 flex flex-col mx-auto max-w-7xl dark:prose-invert sm:text-right md:px-6 md:justify-between md:items-center">
      <div class="self-start"><Logo /></div>
      <div class="w-full mt-20 flex flex-col sm:flex-row sm:justify-end">
         <div class="sm:mr-3">Powered by Astro</div>
         <span class="hidden sm:block sm:mr-3"> | </span>
         <span>A website by <a href="https://gabrielelisavetsky.com">Gabriel Elisavetsky</a></span>
      </div>
   </div>
</footer>