---
// import Sitewide Config
import * as SitewideConfig from "../configuration/SitewideConfig.md"

// import components
import Logo from "./Logo.astro";
import Link from "./Link.jsx";
---

<footer class="transition-colors font-light border-t-slate-400 border-t text-slate-800 dark:border-t-slate-500 dark:text-slate-100">
   <div class="px-5 pt-20 pb-12 flex flex-col mx-auto max-w-screen-2xl sm:text-right md:px-6 md:justify-between md:items-center">
      <div class="self-start text-2xl">
         <Link
            href="/"
            inline
            transition="transition-all"
            classes="absolute hover:-translate-y-[2px] hover:translate-x-[2px] hover:text-slate-400 dark:hover:text-slate-400"
         >
            {SitewideConfig.frontmatter.site_name}
         </Link>
      </div>
      <div class="w-full mt-20 flex flex-col sm:flex-row sm:justify-end">
         <div class="sm:mr-3">Powered by Astro</div>
         <span class="hidden sm:block sm:mr-3"> | </span>
         <span>A website by 
            <Link
               href="https://gabrielelisavetsky.com"
               inline
               classes="hover:text-slate-400 dark:hover:text-slate-400"
            >
               Gabriel Elisavetsky
            </Link>
         </span>
      </div>
   </div>
</footer>