---
import Burger from "./Burger.astro";
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";

// const fonts = [
//    {
//       fontName: "seascape"
//    },
//    {
//       fontName: "jamesarthur"
//    }
// ]
---

<!-- {
   fonts.map(({fontName}) => {
      return (
      <header class="p-5 md:px-6 mx-auto mb-5 max-w-7xl relative shadow-md md:shadow-none md:flex md:justify-between md:items-center">
   <div class="flex justify-between mb-4 md:mb-0">
      <Logo fontName={fontName} />
   
      <div class="flex flex-col">
         <Burger />
      </div>
   </div>
   <Navigation />
</header>
      )
   })
} -->

<header class="mb-5 text-gray-800 relative shadow-xl dark:text-gray-100 dark:bg-gray-950 dark:shadow-slate-800">
   <div class="px-5 py-7 md:px-6 mx-auto max-w-7xl md:flex md:justify-between md:items-center">
      <div class="flex justify-between gap-2">
         <Logo />
      
         <div class="flex flex-col">
            <Burger />
         </div>
      </div>
      <Navigation />
   </div>
</header>

<style>
   .patties::before {
      @apply top-5
   }
   
   .patties::after {
      @apply bottom-4 right-1.5
   }

   .patties::before,
   .patties::after {
      content: '';
      @apply absolute h-[2px] w-10 bg-gray-900
   }
</style>