---

const { fontName } = Astro.props;
console.log(fontName)
---

<a href="/" class="font-jamesarthur flex items-center leading-10 text-xs sm:text-sm">
   Wendy Kauderer
</a>

<!-- <a href="/" class="logo-text flex items-center mt-3 text-3xl sm:text-4xl sm:mt-4 md:text-5xl">
   Wendy Kauderer
</a> -->

<style>
   .logo-text {
      font-family: 'Seascape', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
</style>