---
const { fontName, fontSize } = Astro.props;
---

<a href="/" class=`logo-text flex items-center leading-10 ${fontSize ? fontSize : "text-xs"}`>Wendy Kauderer</a>

<style>
   .logo-text {
      font-family: 'James Arthur Regular', Georgia, "New York", Georgia, Cochin, 'Times New Roman', Times, ui-serif, serif, system-ui, sans-serif;
      text-decoration: none;
   }
</style>