---
// Astro
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

// import components


// import data
const mainHero = await getEntry("settings", "main-hero");
const { title, tagline, image, image_alt } = mainHero.data;
---

<section class="sm:py-16 sm:px-4 overflow-x-hidden bg-slate-50 dark:bg-slate-800">
   <div class="relative flex sm:px-4 sm:max-w-none">
      <div class="absolute bottom-0 prose prose-sm max-w-none p-6 h-fit sm:shadow-xl sm:bg-slate-50/30 sm:backdrop-blur-md dark:prose-invert sm:dark:bg-slate-600/30 sm:relative sm:prose-base sm:-right-10 sm:rounded-xl md:prose-md lg:prose-lg">
         <h1>{title}</h1>
         { tagline && <p>{tagline}</p> }
      </div>
      <Image 
         src={image}
         alt={image_alt} 
         width={768} 
         quality={50}
         class="h-90 sm:h-80 object-cover sm:rounded-md sm:shadow-xl sm:mt-4"
      />
   </div>
</section>