---
// Import packages
import slugify from '@sindresorhus/slugify';

// Expose site configuration for CMS
import { frontmatter } from "../configuration/SitewideConfig.md";
const sections = frontmatter.sections;

// import components
import ThemeToggle from './ThemeToggle.jsx';
---

<nav aria-label="Main menu" id="main-menu" class="hidden text-lg font-medium h-full mt-7 md:m-0 md:flex md:items-stretch md:h-10">
   <noscript>
      <ul>
         
      </ul>
   </noscript>

   <ul class="flex flex-col justify-between gap-1 leading-loose mb-4 md:flex-row md:mb-0 md:pr-12">
      { 
         sections?.map(({title}) => {
            return (
               <li class="md:pr-12 last:pr-0">
                  <a class="transition-colors hover:text-gray-500 dark:hover:text-gray-300" href={`/${slugify(title)}`}>{title}</a>
               </li>
            )
         })
      }
   </ul>
   <ThemeToggle client:load />
</nav>