---
---

<div id="search" class="px-2 mb-10 min-h-[3rem]"></div>

<script>
   ///////////////
   // PAGEFIND //
   //////////////
   document.addEventListener('astro:page-load', () => {

      new PagefindUI({
         element: "#search",
         showSubResults: false
      });
      
   }, { once: false });
</script>

<style is:global>
   .pagefind-ui__search-input {
      @apply !h-12
   }

   .pagefind-ui__search-clear {
      @apply !bg-transparent
   }

   .pagefind-ui__result {
      @apply !flex-row
   }

   .pagefind-ui__result-thumb {
      width: min(100%,calc((100% - (100px * var(--pagefind-ui-scale))) * 100000)) !important;
      max-width: 12rem !important;
      aspect-ratio: initial !important;
   }

   .pagefind-ui__result-image {
      left: unset !important;
      @apply !relative !max-h-none !transform-none
   }

   @media (min-width: 768px) {
      .pagefind-ui__result {
         @apply !flex-col
      }
   }

   @media (min-width: 1536px) {
      .pagefind-ui__result {
         @apply !flex-row
      }
   }
   
</style>

<style is:global>
   :root {
      --pagefind-ui-background: rgba(255, 255, 255, 0.5);
      --pagefind-ui-border: rgba(0, 0, 0, 0.1);
      --pagefind-ui-tag: rgba(255, 255, 255, 0.6);
      --pagefind-ui-border-radius: 0.5rem;
   }

	.dark {
		--pagefind-ui-primary: #eeeeee;
		--pagefind-ui-text: #eeeeee;
		--pagefind-ui-background: rgba(0, 0, 0, 0.5);
		--pagefind-ui-border: rgba(255, 255, 255, 0.1);
		--pagefind-ui-tag: rgba(0, 0, 0, 0.6);
	}
</style>