---
// Astro
import { Image } from "astro:assets";

const { title, image, image_alt } = Astro.props;
---

<header class=`${!title ? "" : ""} text-xl font-bold text-slate-900 transition-colors duration-700 flex px-4 py-2 mb-3 z-20 dark:text-slate-100`>
   <!-- {image && image_alt &&
      <Image 
         src={image} 
         alt={`A blurred section background: ${image_alt}`} 
         quality={1}
         class="object-cover w-full h-full saturate-150"
      />
   } -->
   
   {title &&
      <h1>{title}</h1>
   }
</header>