---
const props = Astro.props;
---

<section class="flex justify-center py-36 px-4 bg-slate-50 dark:bg-slate-800">
   <div class="flex max-w-screen-2xl prose dark:prose-invert sm:prose-md md:prose-lg">
      <h1 class="">Artwork</h1>
   </div>
</section>