---
// Astro
import { Image } from "astro:assets";

const { title, image, image_alt } = Astro.props;
---

<section class=`${!title ? "" : ""} relative flex`>
   <!-- {image && image_alt &&
      <Image 
         src={image} 
         alt={`A blurred section background: ${image_alt}`} 
         quality={1}
         class="object-cover w-full h-full saturate-150"
      />
   } -->
   
   {title &&
      <div class="relative transition-colors duration-700 flex w-full h-full px-5 py-2 z-20">
         <div class="text-2xl dark:text-slate-100">
            <h1 class="">{title}</h1>
         </div>
      </div>
   }
</section>