---
// Astro
import { Image } from "astro:assets";

const { title, image, image_alt } = Astro.props;
---

<section class="relative flex justify-center h-72 overflow-y-hidden bg-slate-100 dark:bg-slate-800">
   {
      image && image_alt &&
      <Image 
         src={image} 
         alt={`A blurred section background: ${image_alt}`} 
         quality={1}
         class="object-cover w-full h-full"
      />
   }
   
   <div class="absolute transition-colors duration-700 flex justify-center items-center w-full h-full px-4 pt-24 z-20 bg-white/60 backdrop-blur-xl  dark:bg-black/50">
      <div class="prose dark:prose-invert sm:prose-md md:prose-lg max-w-screen-2xl ">
         <h1 class="">{title}</h1>
      </div>
   </div>
</section>