---
const { title } = Astro.props;
---

<span class="h-fit px-2 py-0.5 mb-2 mr-2 last-of-type:mr-0 flex items-center rounded-full bg-slate-100 dark:bg-slate-600 text-slate-600 dark:text-slate-300">{title}</span>