---
// Astro
import { getCollection } from "astro:content";

// Expose site configuration for CMS
import { frontmatter } from "../configuration/SitewideConfig.md";
const featuredTitle = frontmatter.homepage_featured_section_title;

// import layouts
import ArtworkGridLayout from "./ArtworkGridLayout.astro";

// import components
import SectionTitle from "../components/SectionTitle.astro";
import FullArtwork from "../components/FullArtwork.astro";

// import Featured Artwork
const allFeaturedArtwork = await getCollection('artwork', ({data}) => {
   // prevent draft posts from showing in feature
   return data.draft !== true && data.featured === true;
});
const featuredArtwork = allFeaturedArtwork.sort((a, b) => {
   const latestToOldest = Date.parse(b.data.date) - Date.parse(a.data.date);

   return latestToOldest;
})

// const allArtwork = await Astro.glob("../pages/artwork/*.md");
// const featuredArtwork = allArtwork.filter((artwork) => artwork.data.featured === true);
---

<section class="py-10 m-auto max-w-screen-2xl">
   <SectionTitle title={featuredTitle} />
   <ArtworkGridLayout artwork={featuredArtwork} showDescriptions={true} />
</section>