---
// import components
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";
---

<div class="grid grid-flow-dense pt-24 m-auto items-start max-w-screen-2xl gap-4 md:grid-cols-12">
   <!-- <Header shadow={options?.headerShadow} /> -->
   <Header />
   <div class="md:m-auto lg:m-0 md:col-span-7 lg:col-span-8 xl:col-span-9">
      <main id="main-content" class="pb-24 ">
         <slot />
         
      </main>
      <Footer />
   </div>
</div>
