---
// import sitewide sections for footer
import { frontmatter } from "../configuration/SitewideConfig.md";
const sections = frontmatter.sections;

// import components
import Header from "../components/Header.astro"
import Footer from "../components/Footer.jsx";
---

<div class="flex flex-col md:flex-row pt-[5.5rem] mx-auto grow items-start min-w-full max-w-screen-2xl gap-4">
   <!-- <Header shadow={options?.headerShadow} /> -->
   <Header />
   <div class="text-gray-800 dark:text-zinc-100 m-auto flex flex-col min-h-[calc(100vh-6rem)] grow md:w-2/3 lg:m-0">
      <main id="main-content" class="pb-16 pt-7">
         <slot />
         
      </main>
      <Footer footerNav={sections} />
   </div>
</div> 