---
// import components
import Header from "../components/Header.astro"

const props = Astro.props;
---

<div class="grid grid-flow-dense items-center pb-24 pt-24 m-auto max-w-screen-2xl gap-5 md:grid-cols-12 md:min-h-screen md:pt-4">
   <!-- <Header shadow={options?.headerShadow} /> -->
   <Header />
   <main class="md:col-span-7 lg:col-span-8 xl:col-span-9">
      <slot />
   </main>
</div>
