---
import DecapCMS from "../../components/cms/decap-cms-config.js";

// import admin dashboard css
// import "../../../public/admin/admin-dashboard.css"
---

<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
      <!-- DISABLE BOT INDEXING -->
      <meta name="robots" content="noindex" />

      <title>Wendy Kauderer - Admin</title>

     

      <!-- Admin Dashboard Styles -->
      <link rel="stylesheet" href="/admin/admin-dashboard.css">

      <!-- Mobile Styles -->
      <!-- Adapted By Mani Kumar (https://manikumar.in/blog/mobile-optimized-decap-netlify-cms/)  -->
      <!-- From Source: https://gist.github.com/searls/7fd2c3223571a58a81006e7da66bd064 -->
      <!-- Untested, but Minified -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hithismani/responsive-decap@main/dist/responsive.min.css"> 
   </head>

   <body>
      <!-- Include the script that builds the page and powers Decap CMS -->
      <!-- <script is:inline src="/admin/decap-cms-config.js" type="module"></script> -->
      <DecapCMS client:only="react" />
      <!-- <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script> -->
      <!-- Netlify Identity -->
      <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
   </body>
</html>

<style>
      /* fix the jumping cursor issue when inserting within a textarea */
      /* fix by Sean McPherson */
      /* See https://github.com/netlify/netlify-cms/issues/5092 */
   [data-slate-editor] {
      -webkit-user-modify: read-write !important;
   }
</style>